.gradient-background {
    background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
  }
  
  .profile-img {
    border-radius: 50%;
    height: 100px;
  }
  

  body{
    background-color: black;
  }

  .fs-2 {
    color: white;
  }

  .fs-2 p{
    color: white;
    font-size: 15px;
  }

  .section-packages h2{
  color: white;
}

.section-packages p{
  color: white;
}
  .card {
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    background-color: #ffffff;
}

.card:hover {
    transform: scale(1.05);
}

.card-body {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

.text-primary {
    font-weight: bold;
    font-size: 1.2rem;
}

.d-none {
    display: none;
}

